*.DS_Store
*.xmpi
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.gls
*.glo
*.glsdefs
*.ist
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc
*.lol
*.xmpdata
*.minted
*.bbl-SAVE-ERROR
minted-caches/